<div id="<%= dom_id user %>">
  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong style="color:red">Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

</div>
